<footer>
    <nav class="w-full justify-center justify-items-center py-4 flex">
        <a class="p-4 text-xs" style="font-size: 12px; padding: 8px;" href="/pages/contact.html">Contact</a>
        <a class="p-4 text-xs" style="font-size: 12px; padding: 8px;" href="/pages/privacy.html">Privacy</a>
        <a class="p-4 text-xs" style="font-size: 12px; padding: 8px;" href="/pages/termsofservices.html">Terms of
            Service</a>
    </nav>

    <p class="center w-screen text-center text-[12px] p-2 pt-0">Made with ❤️ by © Peter Esser 2025</p>
</footer>
